[submodule "cosmo-engine"]
	path = cosmo-engine
	url = https://github.com/Ryzee119/cosmo-engine.git
[submodule "libdragon"]
	path = libdragon
	url = https://github.com/DragonMinded/libdragon
	branch = trunk
